<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="assets/style/reset.css" rel="stylesheet" type="text/css" />
    <link href="assets/style/header.css" rel="stylesheet" type="text/css" />
    <link href="assets/style/article.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Document</title>
</head>
<body>

    {% include "header.html.twig"%}
    <div class="main">
        <div class="search">
            <div id="search_icon_background">
                <input class="searchbar" type="text" placeholder="Cherchez un sujet" />
                <button class="btnr">Recherche</button>
            </div>
            <div class="boutton">
                
                <button class="btnf">Filtre</button>
            </div>
        </div>
    <div class="content">

    <h1>Abonnement</h1>
    <section class="article" id="article">
    
    {% for article in articles %}
        <article class="article" style="background-image: url('http://localhost/images/{{article.image}}');background-size:cover;">
            <h4 class="title" value="{{ article.title}}">{{ article.title}}</h4>
            <img class="img js" src="http://localhost/images/{{article.image}}" value="{{ article.image}}"> 
            <h4 class="bio js" value="{{ article.bio}}">{{ article.bio }}</h4>
            <h4 class="date js" value="{{ article.date}}">{{ article.date}}</h4>
            <h4 class="place js" value="{{ article.place}}">{{ article.place}}</h4>
            <script>
                        let article = document.querySelector(".article")
                        let title = document.querySelector(".title")
                        let img = document.querySelector(".img")
                        let bio = document.querySelector(".bio")
                        let date = document.querySelector(".date")
                        let place = document.querySelector(".place")
                        article.addEventListener("click" ,function(){
                            Swal.fire({
                                title: '<h5>' + title.textContent + '</h5>' + '<img style="height: 400px" src="'+img.src+'">',
                                html:
                                    '<h5>' + date.textContent + '</h5>' + '<h5>' + bio.textContent + '</h5>' + '<h5>' + place.textContent + '</h5>',
                                showCloseButton: true,
                                showCancelButton: false,
                                focusConfirm: false,           
                                showConfirmButton: false,   
                            }) 
                        })
            </script>
        </article>

    {% endfor %}

    </section>

    <h1>Découvrir</h1>
    <section class="discover" id="discover">
    
    {% for article in articles %}
        <article class="article" style="background-image: url('http://localhost/images/{{article.image}}'); background-size:cover;">
            <h3 class="title">{{ article.title}}</h3>
            <img class="img js" src="http://localhost/images/{{article.image}}"> 
            <h4 class="bio js">{{ article.bio}}</h4>
            <h4 class="date js">{{ article.date}}</h4>
            <h4 class="place js">{{ article.place}}</h4>
        </article>

    {% endfor %}
    </div>


    {% block content %}{% endblock %}
    </div>






</body>
</html>
